<div class="card border border-5" style="width: 18rem;">
    <img src="{{flag}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
        <h2 class="card-title text-uppercase text-center">{{name}}</h2>
        <ul class="list-group list-group-flush">
            <p class="card-header"> <b>Capital:</b> {{capital}}</p>
            <p class="card-header"> <b>Population:</b> {{population}}</p>
            <p class="card-header"> <b>Languages:</b>
                {{#each languages}}
                <li class="list-group-item">{{name}}</li>
                {{/each}}
            </p>
        </ul>   
    </div>
</div>